language: generic

sudo: required

services:
  - docker

before_install:
- docker pull coala/base
- docker run -d coala/base /bin/sh -c "pip install -r requirements.txt; coala-ci"

script:
  - docker ps
